.project-card {
  margin: 13px 0;
}

.img-container {
  width: 100%; /* Make the container full width */
  max-width: 450px; /* Set a max width */
  border: 1px solid #000;
}

.project-image img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover;
  filter: grayscale(100%);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.project-details {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.project-details h3 {
  margin: 0 0 10px 0;
  color: var(--text-color-secondary);
  font-family: var(--ff);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
}

.project-details p {
  margin: 0 0 10px 0;
  flex: 1;
  font-family: var(--ff);
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 300;
}

.project-details a {
  text-decoration: none;
  align-self: flex-start;
}

.project-details a:hover {
  text-decoration: underline;
}

.link-icon {
  width: 24px;
  height: 24px;
  color: var(--text-color-secondary);
  
}

@media only screen and (max-width: 600px) {
  .img-container {
    max-width: 100%; /* Ensure the container adjusts for smaller screens */
  }

  .project-image img {
    max-width: 100%; /* Ensure the image adjusts for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}
