.project-card {
    margin: 13px 0;
  }

  .img-container{
   border: 1px solid #fff;
  }
  
 
  .project-image img {
   
    width: 449px;
    height: 323px;
    object-fit: cover;
    filter: grayscale(100%);
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  
  .project-details {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .project-details h3 {
    margin: 0 0 10px 0;
    color: var(--text-color-white);
    font-family: var(--ff);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
  }
  
  .project-details p {
    margin: 0 0 10px 0;
    flex: 1;
    font-family: var(--ff);
    color: var(--text-color-white);
    font-size: 14px;
    font-weight: 300;
  }
  
  .project-details a {
    text-decoration: none;
    align-self: flex-start;
  }
  
  .project-details a:hover {
    text-decoration: underline;
  }
  
  .share-icon{
    width: 38px;
    height: 38px;
  }

  @media only screen and (max-width: 600px) {
    .project-image img {
        max-width: 100%; /* Adjust max-width for smaller screens */
    }
  }
  