.abstract_shape {
    position: absolute;
    top: 40%;
    left: 70%;
    /* opacity: 0.1; */
    width: 400px;
    height: 400px;
    z-index: -1; /* Ensure it stays in the background */
}

.tech_stacks_container {
    position: relative; /* Ensure the container is positioned for the SVG */
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

/* Other existing styles... */


.tech_stacks_container{
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech_stacks_head{
    color: white;
    font-family: var(--ff);
    font-size: 14px;
    font-weight: 700;
    margin-left: 100px;
    margin-bottom: 18px;
}

.tech_stacks_icon_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive design */

@media only screen and (max-width: 600px) {
    .tech_stacks_container{
        height: 60vh;
    }

    .tech_stacks_icon_wrapper{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .tech_stacks_icon_inner_wrapper{
        padding: 14px;
    }

    .tech_stacks_head{
        margin-left: 0px;
        margin-bottom: 14px;
    }
}