.navbar{
    background-color: var(--text-color-white);
}

.nav-link{
    color:var(--text-color-primary);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--ff);
}

.nav-item{
    margin: 0px 10px 0px 70px;
}

.navbar-brand{
    color:var(--text-color-primary);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--ff);
}

.nav-link:hover {
    cursor: pointer;
  }
  
